<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.guikeller.cordova.wearos">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <service android:name="com.github.guikeller.cordova.wearos.WearOsListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" />
            </intent-filter>
        </service>
    </application>
</manifest>
